@reference "../../../style/globals.css"

.tiptap p.is-editor-empty:first-child::before {
  opacity: 60%;
  content: attr(data-placeholder);
  height: 0;
  pointer-events: none;
}

.tiptap img {
  @apply max-w-full border border-transparent;
}

.tiptap img.ProseMirror-selectednode {
  border: 2px solid black;
}
