.tiptap p.is-editor-empty:first-child::before {
  opacity: 60%;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap p.editor-loading {
  width: 20px;
  height: 20px;
  background: black;
}
